/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}


/* Small mobile screens 320px */

/* Body Styling */

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  height: 100%;
}

img {
  max-width: 100%;
}

.white-font {
  color: #fff;
}

.black-font {
  color: #070707;
}

h1 {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #070707;
  font-size: 32px;
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 26px;
}

h4 {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.active {
  font-weight: bold;
}

/* Remove default styling from List and Anchor tags */
body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

/* Header and Logo */

.feel-good-logo {
  width: 100%;
}

.feel-good-logo:hover {
  cursor: pointer;
}

.feel-good-logo img {
  width: 100%;
  height: auto;
}

/* Primary Navigation */

#primary-nav li {
  list-style: none;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #070707;
}

#primary-nav a {
  display: block;
  width: 100%;
  color: #fff;
  transition: 0.5s;

}

#primary-nav a:hover {
  background-color: #fff;
  color: #070707;
}

/* Hero Section */

.hero-content {
  position: relative;
  background-color: #1e1e1e;
  text-align: center;
  width: 100%;
  height: 300px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}

.sign-up-now {
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #fff;
  color: #070707;
}

.sign-up-now:hover {
  background-color: #070707;
  color: #fff;
}

/* Footer  */

footer {
  position: relative;
  height: 100px;
  width: 100%;
  top: 10px;
  text-align: center;
  background-color: #070707;
  color: #fff;
}

footer i {
  font-size: 150%;
  color: #fff;
  margin: 10px;
}

.social-media-links {
  margin: 10px;
}

.social-media-links li {
  display: inline;
  margin: 10px;
}

/* About Section */

.about-content {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}

.card-img {
  position: relative;
  margin: 10px 0px;
}

.card-img img {
  border-radius: 10px;
}

.bottom-card-highlight {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding: 10px 0px;
  background-color: rgba(7, 7, 7, 0.7);
  border-radius: 0 0 10px 10px;
}

.card-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Memberships Section */

.memberships-section {
  position: relative;
  background-color: #070707;
  padding: 20px 0px;
}

.price-cards {
  position: relative;
  text-align: center;
  background-color: #1e1e1e;
  margin: 20px 0px;
  height: 350px;
  border-radius: 10px;
  border: 5px groove #fff;
}

/* Sessions Section */

.sessions-section {
  text-align: center;
  padding: 20px 0px;
}

/* Contact Section */

.contact-section {
  background-color: #070707;
  padding: 20px 0px;
}

/* Contact Form */

.contact-form {
  padding: 20px 10px;
}

input {
width: 100%;
margin: 10px 0px;
}

label {
  color: #fff;
}

input[type=submit] {
  width: 25%;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #070707;
  color: #fff;
  border: 3px solid #fff;
}

.contact-photo img {
  border-radius: 10px;
}

/* Location Section */

.location-section {
  margin: 20px 0px;
}

/* Contact Map */

iframe {
  width: 100%;
  height: 300px;
  margin: 20px 0px;
  border-radius: 10px;
}

/* Contact Infomation */

.contact-details {
  text-align: center;
}

b {
  font-weight: bold;
}

/* Media Queries */

/* For small screen sizes from 700px upto 950px */ 

@media screen and (min-width: 700px) {

  /* Reduce the size of the logo and centre it in the middle at the top of the page */
  .feel-good-logo {
    width: 30%;
    margin: auto;
  }

  /* Display the navigation bar in a row */
  .nav-list {
    display: flex;
  }

  .nav-list li {
    flex-grow: 1;
    font-size: 1.3rem;
    border: 2px solid #fff;
  }
  /* Sessions Section */
  /* Increase the padding on the sign up buttons to work in aspect of the content */
  .sign-up-now {
    padding: 5px;
  }
  /* Increase the line height to be more readable */
  .card-content {
    line-height: 1.8;
  }
}

/* For large screen sizes from 950px upto 1440px */ 

@media screen and (min-width: 950px) {

  /* Display of flex for the header repositions the logo and nav bar to be displayed in a row at the top of the screen */
  #primary-header {
    display: flex;
  }

  #primary-nav {
    flex-grow: 1;
    align-self: center;
  }

  .feel-good-logo {
    width: 20%;
    margin: 0;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
    flex-grow: 1;
    font-size: 1.2rem;
    border: 2px solid #fff;
  }

  /* Hero Section */

  /* Display of flex helps position the content and hero image in a row across the hero section */
  .hero-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #070707;
    height: 500px;
  }

  /* Re-order the hero image and content here so instead of having the image display on the left, I wanted the image on the right and the content to the left */
  .hero-img {
    order: 2;
    align-self: center;
    width: 75%;
  }

  .hero-img img {
    border-radius: 10px;
  }

  .hero-content {
    order: 1;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-left: 10px;
  }

}

/* For large screen sizes from 1440px upwards */ 


@media screen and (min-width: 1440px) {

  /* Increase font size for desktop viewing */
  body {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
   
  }

  h4 {
    font-size: 2.0rem;
  }

  /* Landing Page at 1440px */

  /* Makes the hero section a fixed height and align content in the center of the section */
  .hero-section {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    background-color: #070707;
    height: 500px;
  }

  /* Gave a width to the image keeps the image in perspective to the page */
  .hero-img {
    order: 2;
    align-self: center;
    width: 660px;
  }
  /* Gave a width to the content keeps the content area in perspective: to the page */
  .hero-content {
    order: 1;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 1000px;
    margin: 0px;
  }

  /* Extended the height of the footer as the social media icons over lapped the bottom footer */
  footer {
    height: 150px;
  }

  /* Space the content out to make it more readable */
  .content {
    line-height: 1.8;
  }

  .card-content {
    line-height: 1.8;
  }
  
  /* About Section at 1440px */

  /* Display of flex aligns the cards in a row and can center them evenly across the page */
  .card-container {
    display: flex;
    justify-content: space-evenly;
  }

  /* Re-sized the card images to suit desktop viewing and to keep the images within aspect ratio */
  .card-img img {
    object-fit: cover;
    height: 600px;
    width: 500px;
  }

  /* Used grid to help display the price cards in a row */
  .price-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .price-cards {
    margin: 100px;
  }

  /* Contact Page at 1440px  */

  /* Display of flex aligns the form and contact photo in a row and can center them evenly across the page */
  .contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-photo {
    width: 50%
  }

  /* Display of flex aligns the location map and contact information in row and can center them evenly across the page */
  .location-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .location-map {
    width: 100%
  }

  iframe {
    height: 500px
  }

  .contact-details {
    width: 50%;
  }

}

