/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}


/* Small mobile screens 320px */

/* Body Styling */

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  height: 100%;
}

img {
  max-width: 100%;
}

.white-font {
  color: #fff;
}

.black-font {
  color: #070707;
}

h1 {
  color: #fff;
  font-size: 42px;
  text-align: center;
}

h2 {
  color: #070707;
  font-size: 32px;
  text-align: center;
}

h3 {
  color: #070707;
  font-size: 26px;
}

h4 {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.active {
  font-weight: bold;
}

/* Remove default styling from List and Anchor tags */
body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

/* Header and Logo */

.feel-good-logo {
  width: 100%;
}

.feel-good-logo:hover {
  cursor: pointer;
}

.feel-good-logo img {
  width: 100%;
  height: auto;
}

/* Primary Navigation */

#primary-nav li {
  list-style: none;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #070707;
}

#primary-nav a {
  display: block;
  width: 100%;
  color: #fff;
  transition: 0.5s;

}

#primary-nav a:hover {
  background-color: #fff;
  color: #070707;
}

/* Hero Section */

.hero-content {
  position: relative;
  background-color: #1e1e1e;
  text-align: center;
  width: 100%;
  height: 300px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-now {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
}

.sign-up-now:hover {
  background-color: #070707;
  color: #fff;
}

/* Footer  */

footer {
  position: relative;
  height: 100px;
  width: 100%;
  top: 10px;
  text-align: center;
  background-color: #070707;
  color: #fff;
}

footer i {
  font-size: 150%;
  color: #fff;
  margin: 10px;
}

.social-media-links {
  margin: 10px;
}

.social-media-links li {
  display: inline;
  margin: 10px;
}

/* About Section */

.about-content {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}

.card-img {
  position: relative;
}

.card-content {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 10px 0px;
}


/* Memberships Section */

.memberships-section {
  position: relative;
  background-color: #070707;
  padding: 20px 0px;
}

.price-cards {
  position: relative;
  text-align: center;
  background-color: #1e1e1e;
  margin: 20px 0px;
  height: 350px;
  border-radius: 10px;
  border: 5px groove #fff;
}

/* Sessions Section */

/* .sessions-section {
  width: 320px;
  height: 1000px;
}

.sessions-section h2 {
  color: #070707;
  text-align: center;
}

.sessions-section div h3 {
  color: #fff;
  text-align: center;
  
}

.sessions-section, button {
  text-align: center;
}

.session-card-1 {
  width: 320px;
  height: 320px;
  background-image: url('../images/Free\ Man\ Holding\ Black\ Dumbbell\ Stock\ Photo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.session-card-2 {
  width: 320px;
  height: 320px;
  background-image: url('../images/Free\ Man\ Holding\ Black\ Dumbbell\ Stock\ Photo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.session-card-3 {
  width: 320px;
  height: 320px;
  background-image: url('../images/Free\ Man\ Holding\ Black\ Dumbbell\ Stock\ Photo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */